.SearchHistory {
  position: relative;
}
.searchHistory__icon svg {
  font-size: 2.5rem;
  color: var(--black);
}
.dark-mode .searchHistory__icon svg {
  color: var(--white);
}
.searchHistory__content {
  position: absolute;
  top: 7rem;
  right: 1rem;
  min-width: 20rem;
  padding: 2rem;
  border-radius: 0.7rem;
  box-shadow: 1px 1px 6px #0003;
  text-transform: capitalize;
  background-color: var(--white);
  font-size: 2rem;
  line-height: 2;
  animation: openList 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 10;
}
.dark-mode .searchHistory__content {
  background-color: var(--grey);
  color: var(--white);
}
.searchHistory__content li:hover {
  color: var(--color-primary);
  cursor: pointer;
}

@keyframes openList {
  from {
    transform: scale(0);
    transform-origin: top right;
  }
  to {
    transform: scale(1);
  }
}
